/* page heading */
.head {
  background-image: url(/img/backgrounds/h_img.jpg);
  text-align: center;
  color: white;

  background-repeat: no-repeat;
}
/*About us section*/
.about {
  text-align: center;
}
