body {
}
/* page heading */
.top {
  background-image: url(/img/backgrounds/h_img.jpg);
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block-start: 200px;
  padding-block-end: 200px;
}

/*About us section*/
.about {
  text-align: center;
  padding-block-end: 50px;
  padding-block-start: 50px;
}

/*services section*/
.services {
  text-align: center;
  background-image: url(/img/backgrounds/s_image.jpg);
  color: white;
  background-size: cover;
  padding-block-start: 95px;
  padding-block-end: 150px;
}

/*What we do section*/
.do {
  text-align: center;
  padding-block-end: 50px;
  padding-block-start: 50px;
}
#design-showing {
  display: none;
}
#developement-showing {
  display: none;
}
#productmanagement-showing {
  display: none;
}

/*portfolio section*/
.portfolio {
  text-align: center;
  padding-block-end: 20px;
  padding-block-start: 20px;
}

#grey:hover {
  opacity: 40%;
}
#ontario:hover {
  opacity: 40%;
}
#gold:hover {
  opacity: 40%;
}
#brave:hover {
  opacity: 40%;
}
#goodday:hover {
  opacity: 40%;
}
#age:hover {
  opacity: 40%;
}
#burned:hover {
  opacity: 40%;
}
#giraffe:hover {
  opacity: 40%;
}

.row2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  column-gap: 5px;
  grid-template-rows: repeat(1, 1fr);
  grid-row-gap: 15px;
  row-gap: 15px;
}

/* contact us section*/
#blanks {
  text-align: center;
  background-image: url(/img/backgrounds/c_image.jpg);
  color: white;
  background-size: cover;
  padding-block-start: 50px;
  padding-block-end: 75px;
}

#confirmation {
  display: none;
}

/*end section*/
.end {
  text-align: center;
  padding-block-start: 50px;
  scroll-padding-block-end: 75px;
}
